<!DOCTYPE html>
<html>
<head>
    <title>Movies App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="container" id="app">
    <h1>{{ hello }}</h1>

    <input v-model="hello">

    <ul>
        <li v-for='name in names'>
            {{ name.firstname }}
            {{ name.lastname }}
        </li>
    </ul>
</div>


<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>