<!DOCTYPE html>
<html>
<head>
    <title>Movies App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="container" id="app">

    
    <router-view></router-view>

</div>

<template id="movie-list-template">

    <a v-link="{ path : 'create' }" class="btn btn-success">Create new movie</a>
    <a v-link="{ path : 'register' }" class="btn btn-primary">Register</a>
    <br>
    <br>
    <div class="filter">
        <input type="text" class="form-control" v-model="liveFilter">
        <h4>Filter by Genre:</h4>
        <div class="row">
            <div class="col-md-6">
                <select name="" id="" class="form-control" v-model="genreFilter">
                    <option value="">All</option>
                    <option v-for="genre in genres">{{ genre }}</option>
                </select>
            </div>
        </div>
    </div>

    
    <div v-show="loading" transition="loading">Content is loading. Please wait...</div>

    <div class="movie-list" v-show="!movie">
        <div v-for="movie in movies | filterBy liveFilter | filterBy genreFilter" class="row movie-item">
            <div class="col-md-1 pull">
                <img v-bind:src="movie.field_movie_poster[0].url" alt="{{ movie.field_movie_poster[0].alt }}">
            </div>
            <div class="col-md-8">
                <h4><a v-link="{ name: 'movie', params: { movieID: movie.nid[0].value }}">{{ movie.title[0].value }}</a></h4>
                <p>
                    <strong>Director:</strong> {{ movie.field_director[0].value }}
                </p>
        
                <strong>Actors:</strong><br>
                <span v-for="actor in movie.field_actors">
                    {{ actor.value }}<br>
                </span>
                <hr>
                <strong>Genre:</strong>
                <span v-for="genre in movie.field_genres">
                    {{ genre.value }},
                </span>
            </div>
            <div class="col-md-3">
                <a v-link="{ name: 'delete', params: { movieID: movie.nid[0].value }}" class="btn btn-danger">Delete Movie</a>
                <a v-link="{ name: 'edit', params: { movieID: movie.nid[0].value }}" class="btn btn-primary">Edit Movie</a>
            </div>
        </div>
    </div>

</template>

<template id="single-movie-template">
    <div v-show="loading" transition="loading">Content is loading. Please wait...</div>
    <div class="single-movie" v-show="movie">
        <div class="movie-item" v-for="movieItem in movie">
            <h2>{{ movieItem.title[0].value }}</h2>
            {{{ movieItem.body[0].value }}}
        </div>
    </div>
</template>

<template id="create-movie">
    <h2>Create movie</h2>
    <div class="alert alert-success" v-show="success">You have added a movie.</div>
    <form v-on:submit="createTheMovie">
        <div class="form-group">
            <label>Movie title</label>
            <input type="text" v-model="title" name="title" class="form-control">
        </div>

        <div class="form-group">
            <label>Movie body</label>
            <textarea class="form-control" v-model="body"></textarea>
        </div>

        <button type="submit" class="btn btn-success">Add Movie</button>
    </form>

</template>

<template id="delete-movie">
    <h2>Delete Movie</h2>
    <p>Are you sure?</p>
    <button v-on:click="deleteTheMovie" class="btn btn-danger">Delete</button>
</template>


<template id="edit-movie">
    <h2>Edit movie</h2>

    <form v-on:submit="updateTheMovie">
        <div v-for="movieItem in movie">
            <div class="form-group">
                <label>Movie title</label>
                <input type="text" v-model="title" name="title" value="{{ movieItem.title[0].value }}" class="form-control">
            </div>
            
            <div class="form-group">
                <label>Movie body</label>
                <textarea v-model="body" class="form-control">{{ movieItem.body[0].value }}</textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Update Movie</button>
    </form>

</template>

<template id="register">
    <h2>Register</h2>
    
    <div class="alert" v-bind:class="{ 'alert-success': success, 'alert-danger': error}"v-show="message">{{ message }}</div>

    <form v-on:submit="registerUser">
        <div class="form-group">
            <label>Username</label>
            <input type="text" v-model="name" name="name" class="form-control">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" v-model="email" name="email" class="form-control">
        </div>

         <div class="form-group">
            <label>Password</label>
            <input type="password" v-model="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">Register</button>
    </form>

</template>



<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/vue-resource.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/vue-router.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>