<!DOCTYPE html>
<html>
<head>
    <title>Movies App</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="container" id="app">

    <a v-link="{path: '/hello'}">Hello</a>
    <a v-link="{path: '/about-us'}">About us</a>
    
    <router-view></router-view>

    <div class="filter">
        <input type="text" class="form-control" v-model="liveFilter">
        <h4>Filter by Genre:</h4>
        <div class="row">
            <div class="col-md-6">
                <select name="" id="" class="form-control" v-model="genreFilter">
                    <option value="">All</option>
                    <option v-for="genre in genres">{{ genre }}</option>
                </select>
            </div>
        </div>
    </div>

    
    <div class="movie-list" v-show="!movie">
        <div v-for="movie in movies | filterBy liveFilter | filterBy genreFilter" class="row movie-item">
            <div class="col-md-1 pull">
                <img v-bind:src="movie.field_movie_poster[0].url" alt="{{ movie.field_movie_poster[0].alt }}">
            </div>
            <div class="col-md-10">
                <h4><a v-on:click="getTheMovie(movie.nid[0].value)">{{ movie.title[0].value }}</a></h4>
                <p>
                    <strong>Director:</strong> {{ movie.field_director[0].value }}
                </p>
        
                <strong>Actors:</strong><br>
                <span v-for="actor in movie.field_actors">
                    {{ actor.value }}<br>
                </span>
                <hr>
                <strong>Genre:</strong>
                <span v-for="genre in movie.field_genres">
                    {{ genre.value }},
                </span>
            </div>
        </div>
    </div>

    <div class="single-movie" v-show="movie">
        <a class="btn btn-danger" v-on:click="getMovies">Back</a>
        <div class="movie-item" v-for="movieItem in movie">
            <h2>{{ movieItem.title[0].value }}</h2>
            {{{ movieItem.body[0].value }}}
        </div>
    </div>
</div>

<template id="hello">
    <h2>{{ message }}</h2>
</template>

<template id="about-us">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloremque quibusdam maiores ratione accusamus voluptas, a, provident maxime alias repellat laboriosam obcaecati neque non quidem nihil. Provident sunt, incidunt ipsa commodi est sit voluptatum voluptates!</p>
</template>


<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/vue-resource.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/vue-router.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>